@page "/gamesetup"
@inject NavigationManager Navigation

<h3>Configuração do Jogo</h3>

<div>
    <label for="numPlayers">Número de Jogadores:</label>
    <input @bind="numPlayers" type="number" id="numPlayers" min="2" max="5" />

    <button @onclick="StartGame">Iniciar Jogo</button>
</div>

@code {
    private int numPlayers = 2;

    private void StartGame()
    {
        Navigation.NavigateTo($"/game/{numPlayers}");
    }
}
